<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome {{ user }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="{% url 'logout' %}" class="btn btn-success">Log Out</a>
        <a href="{% url 'takeorder' %}" class="btn btn-success">Take Order</a>
        <a href="{% url 'all_customers' %}" class="btn btn-success">All Customers</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Order</th>
                    <th>Remarks</th>
                    <th>Operator</th>
                    <th>Payment Status</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for order in all_orders %}
                <tr class="clickable-row" data-href="{% url 'specific_order' order.id %}">
                    {% if order.payment_status == False %}
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.phone_number }}</td>
                        <td>{{ order.address }}</td>
                        <td style="font-size:0.65vw;">
                            &#8377;60 Thali - {{ order.quantity_60 }}<br>
                            &#8377;75 Thali - {{ order.quantity_75 }}<br>
                            &#8377;100 Thali - {{ order.quantity_100 }}<br>
                            &#8377;125 Thali - {{ order.quantity_125 }}<br>
                            &#8377;150 Thali - {{ order.quantity_150 }}<br>
                            &#8377;200 Thali - {{ order.quantity_200 }}<br>
                        </td>
                        <td>{{ order.remarks }}</td>
                        <td>{{ order.operator }}</td>
                        <td>{{ order.payment_status }}</td>
                        <td>&#8377;{{ order.amount }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for order in all_orders %}
                    <tr class="clickable-row" data-href="{% url 'specific_order' order.id %}">
                        {% if order.payment_status == True %}
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.phone_number }}</td>
                        <td>{{ order.address }}</td>
                        <td style="font-size:0.65vw;">
                            &#8377;60 Thali - {{ order.quantity_60 }}
                            <br> &#8377;75 Thali - {{ order.quantity_75 }}
                            <br> &#8377;100 Thali - {{ order.quantity_100 }}
                            <br> &#8377;125 Thali - {{ order.quantity_125 }}
                            <br> &#8377;150 Thali - {{ order.quantity_150 }}
                            <br> &#8377;200 Thali - {{ order.quantity_200 }}
                            <br>
                        </td>
                        <td>{{ order.remarks }}</td>
                        <td>{{ order.operator }}</td>
                        <td>{{ order.payment_status }}</td>
                        <td>&#8377;{{ order.amount }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function($) {
            $('.clickable-row').click(function() {
                window.location = $(this).data('href');
            });
        });
    </script>
</body>
</html>