<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bill {{ order.pk }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="font-family: 'Amatic SC', cursive; font-weight:bold;">VS Foods</h1>
        <h3 class="text-center" style="font-family: 'Amatic SC', cursive;">
            First Floor, S.C.O - 6, Sector - 8
            <br>
            Karnal, Haryana - 132001
        </h3>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Remarks : {{ order.remarks }}
        </h4>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Delivery Boy : {{ order.delivery_boy }}
        </h4>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Address :   {{ order.address }}
        </h4>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Phone Number : {{ order.phone_number }}
        </h4>
        <div class="row">
            <div class="offset-md-4 offset-lg-4"></div>
                <div class="col-md-4">
                    <table class="table table-borderless">
                        <thead>
                            <th>Item</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            {% for ord in act_order  %}
                              <tr>
                                {% for x in ord %}
                                  <td>{{ x }}</td>
                                  
                                {% endfor %}
                              </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2">Amount</td>
                                <td>{{ order.amount }}</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2">Due Amount</td>
                            <td>{{ customer.balance }}</td>
                        </tr>
                    
                    </table>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            if (!window.location.hash) {
                window.location = window.location + '#loaded';
                window.setTimeout(window.location.reload(), 2000);
            }
        }
    </script>
</body>
</html>