<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bill {{ order.pk }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="font-family: 'Amatic SC', cursive; font-weight:bold;">Best Bhoj</h1>
        <h3 class="text-center" style="font-family: 'Amatic SC', cursive;">
            First Floor, S.C.O - 6, Sector - 8
            <br>
            Karnal, Haryana - 132001
        </h3>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Remarks : {{ order.remarks }}
        </h4>
        <h4 class="text-center" style="font-family: 'Amatic SC', cursive;">
            Delivery Boy : 
        </h4>
        <div class="row">
            <div class="offset-md-4 offset-lg-4"></div>
                <div class="col-md-4">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if order.quantity_60 > 0 %}
                                <tr>
                                    <td>&#8377;60 Thali</td>
                                    <td>{{ order.quantity_60 }}</td>
                                    <td>{{ price_60 }}</td>
                                </tr>
                            {% endif %}
                            {% if order.quantity_75 > 0 %}
                            <tr>
                                <td>&#8377;75 Thali</td>
                                <td>{{ order.quantity_75 }}</td>
                                <td>{{ price_75 }}</td>
                            </tr>
                            {% endif %}
                             {% if order.quantity_100 > 0 %}
                            <tr>
                                <td>&#8377;100 Thali</td>
                                <td>{{ order.quantity_100 }}</td>
                                <td>{{ price_100 }}</td>
                            </tr>
                            {% endif %}
                             {% if order.quantity_125 > 0 %}
                            <tr>
                                <td>&#8377;125 Thali</td>
                                <td>{{ order.quantity_125 }}</td>
                                <td>{{ price_125 }}</td>
                            </tr>
                            {% endif %}
                             {% if order.quantity_150 > 0 %}
                            <tr>
                                <td>&#8377;150 Thali</td>
                                <td>{{ order.quantity_150 }}</td>
                                <td>{{ price_150 }}</td>
                            </tr>
                            {% endif %}
                             {% if order.quantity_200 > 0 %}
                            <tr>
                                <td>&#8377;200 Thali</td>
                                <td>{{ order.quantity_200 }}</td>
                                <td>{{ price_200 }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2">Amount</td>
                                <td>{{ order.amount }}</td>
                            </tr>
                        </tbody>
                    
                    </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            window.print();
        });
    </script>
</body>
</html>