{% extends "Billing/base.html" %}
{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-success">
            Pending Amount : {{ customer.balance }}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Order</th>
                    <th>Remarks</th>
                    <th>Operator</th>
                    <th>Payment Status</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for order in all_orders %}
                <tr class="clickable-row" data-href="{% url 'specific_order' order.id %}">
                    <td>{{ order.id }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.phone_number }}</td>
                    <td>{{ order.address }}</td>
                    <td style="font-size:0.65vw;">
                        {% if order.quantity_60 > 0 %} &#8377;60 Thali - {{ order.quantity_60 }}
                        <br> {% endif %} {% if order.quantity_75 > 0 %} &#8377;75 Thali - {{ order.quantity_75 }}
                        <br> {% endif %} {% if order.quantity_100 > 0 %} &#8377;100 Thali - {{ order.quantity_100 }}
                        <br> {% endif %} {% if order.quantity_125 > 0 %} &#8377;125 Thali - {{ order.quantity_125 }}
                        <br> {% endif %} {% if order.quantity_150 > 0 %} &#8377;150 Thali - {{ order.quantity_150 }}
                        <br> {% endif %} {% if order.quantity_200 > 0 %} &#8377;200 Thali - {{ order.quantity_200 }}
                        <br> {% endif %}
                    </td>
                    <td>{{ order.remarks }}</td>
                    <td>{{ order.operator }}</td>
                    {% if order.payment_status == False %}
                    <td>Pending</td>
                    {% else %}
                    <td>Paid</td>
                    {% endif %}
                    <td>&#8377;{{ order.amount }}</td>
                    <td>{{ order.date }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <script>
        $(document).ready(function ($) {
            $('.clickable-row').click(function () {
                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock content %}