{% extends "Billing/base.html" %}
{% block content %}
  
  <div class="container">

    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="text-success">
      Current Balance : {{ customer.balance }}
    </h1>

    <form action="{% url 'specific_order' order.pk %}" method="post">
      {% csrf_token %}
      <h1 class="text-success">
        <strong> Order </strong>
      </h1>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Type of Thali</th>
            <th>Quantity</th>
            <th>
              <button type="submit" name="edit-order" class="btn btn-success">Edit Order</button>
            </th>
            <th>
              <a href="/bill/{{ order.pk }}" class="btn btn-success" target="_blank">Print Bill</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Order</td>
            <td>
               {% for key, value in actual_orders.items %} {% if key == order.pk %} {% for x in value %} {{ x }}
              <br> {% endfor %} {% endif %} {% endfor %}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Remarks</strong>
            </td>
            <td>
              <input type="text" name="remarks" value="{{ order.remarks }}" readonly>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Name</strong>
            </td>
            <td>
              <input type="text" name="name" value="{{ order.name }}" required readonly>
            </td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>
              <input type="text" value="{{ order.phone_number }}" name="number" readonly>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              <input type="text" value="{{ order.address }}" name="address" readonly>
            </td>
          </tr>
          <tr>
            <td>
              Delivery Boy
            </td>
            <td>
              <input type="text" value="{{ order.delivery_boy }}" name="delivery-boy">
            </td>
          </tr>
          <tr>
            <td>
              Total Bill
            </td>
            <td>
              <input id="total" type="text" value="{{ order.amount }}" name="amount" readonly>
            </td>
          </tr>
          {% if order.money_received %}
          <tr>
            <td>Payment Made</td>
            <td>
              <input id="payed_amount" type="text" name="payed_amount" readonly value="{{ order.money_received }}">
            </td>
          </tr>
          <tr>
            <td>Balance</td>
            <td>
              <input id="balance" type="text" name="balance_left" value="{{ order.balance }}" readonly>
            </td>
          </tr>
          {% else %}

            <tr>
              <td>Payment Made</td>
              <td>
                <input id="payed_amount" type="text" name="payed_amount">
              </td>
            </tr>
            <tr>
              <td>Balance</td>
              <td>
                <input id="balance" type="text" name="balance_left">
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </form>
  </div>
  <script>
    $(document).ready(function (){
      $('#payed_amount').keyup(function (){
        $('#balance').val(-1 * (parseInt($('#payed_amount').val()) - parseInt($('#total').val())));
      });

      $('#status').click(function (){
        console.log($('#status').val())
      })
    });
  </script>
{% endblock content %}
